# Introduction to Pandas
Pandas is a powerful data manipulation and analysis library for Python. In this notebook, we will explore the basic data structures of Pandas, starting with **Series**.

In [5]:
import pandas as pd

## Series
A Pandas 1  Dimensional labeled array that can hold any data type
Think of it like a single column in a spreadsheet (1-Dimensional)
Can Store any data type oa each time

### Creating a Series from a List
You can create a Series from a standard Python list. You can also specify custom indices.

In [13]:
data = [100,102,104]
series = pd.Series(data, index=['a','b','c'])
print(series)
print(series.loc['a']) # Locating a value by label
series.loc['c'] = 200
print(series)

#locating a value by index
print(series.iloc[0])

#Filter value
print(series[series >= 102])

a    100
b    102
c    104
dtype: int64
100
a    100
b    102
c    200
dtype: int64
100
b    102
c    200
dtype: int64

### Creating a Series from a Dictionary
Alternatively, you can create a Series directly from a Python dictionary. The keys of the dictionary become the index labels.

In [17]:
calories = {'Day 1':1750,
            'Day 2': 2100,
            'Day 3': 1700
            }

series = pd.Series(calories)
print(series)
print(series.loc['Day 1'])
print(series[series >= 2000])

Day 1    1750
Day 2    2100
Day 3    1700
dtype: int64
1750
Day 2    2100
dtype: int64

## DataFrame
A **DataFrame** is a tabular data structure with rows and columns (2-Dimensional).
- Similar to an Excel spreadsheet or SQL table.

In [29]:
data = {
    "Name": ["Patrick", "Spongebob", "Squidward"],
    "Age": [30, 35, 50]
}

df = pd.DataFrame(data)
print(df)

        Name  Age
0    Patrick   30
1  Spongebob   35
2  Squidward   50

In [30]:
df = pd.DataFrame(data,index=['Employee 1','Employee 2','Employee 3'])

### DataFrame with Custom Index
Just like Series, we can assign custom index labels to our DataFrame rows.

In [31]:
print(df)

                 Name  Age
Employee 1    Patrick   30
Employee 2  Spongebob   35
Employee 3  Squidward   50

In [32]:
print(df.loc['Employee 1'])

Name    Patrick
Age          30
Name: Employee 1, dtype: object

### Accessing Rows
We can access rows using `loc` (label-based) or `iloc` (index-based).

In [33]:
print(df.iloc[[1]])

                 Name  Age
Employee 2  Spongebob   35

### Adding Columns
New columns can be added by assigning a list or Series to a new column name.

In [34]:
# Add a New Column
# Ensure column names are consistent (Case Sensitive)
df['Job'] = ["Unemployed", "Fry Cook", "Cashier"]
print(df)

                 Name  Age         Job
Employee 1    Patrick   30  Unemployed
Employee 2  Spongebob   35    Fry Cook
Employee 3  Squidward   50     Cashier

### Adding Rows
New rows can be added by creating a new DataFrame and concatenating it with the existing one.

In [28]:
# Add a New Row
new_row = pd.DataFrame([{
    "Name": "Sandy",
    "Age": 34,
    "Job": "Scientist" 
}], index=["Employee 4"])

# Use pd.concat instead of append (append is deprecated)
df = pd.concat([df, new_row])
print(df)

                 Name  Age      job        Job
Employee 1    Patrick   30     Cook        NaN
Employee 2  Spongebob   35      N/A        NaN
Employee 3  Squidward   50  Cashier        NaN
0               Sandy   34      NaN        N/A
Employee 4      Sandy   34      NaN        N/A
Employee 4      Sandy   34      NaN  Scientist

### Reading Data
Pandas can read data from various file formats. Here, we read a CSV file into a DataFrame.

In [ ]:
df = pd.read_csv("pokemon_data.csv")
print(df.head(5))

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

### Selecting Columns
You can select a single column (returning a Series) or multiple columns (returning a new DataFrame).

In [43]:
# Select a single column
print(df["Name"])

# Select multiple columns
print(df[["Name", "Height"]])

KeyError: 'Name'

### Selecting Rows with Index
Once we have a meaningful index (like 'Name'), we can select specific rows using `.loc`.

In [ ]:
# Set index to 'Name' to use it for label-based selection
df = df.set_index("Name")

print(df.loc["Moltres"])

No              146
Type1          Fire
Type2        Flying
Height          2.0
Weight         60.0
Legendary         1
Name: Moltres, dtype: object

In [42]:
print(df.loc["Moltres", ["Height","Weight"]])

Height     2.0
Weight    60.0
Name: Moltres, dtype: float64